# Copy to .env.local (gitignored) for live voice pack generation.
# `npm run voice:generate:live` loads this file; no need to export by hand.
# Confirm OpenAI ToS allows redistributing TTS audio on a public CDN before shipping packs.

OPENAI_API_KEY=
